@model HittaHemEntityModels.Home

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UninhabitableArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UninhabitableArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
